
p {
    font-family: Montserrat;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 14px;
}
.order {
    font-size: 22px;
}
.order-type:hover {
    text-decoration: underline;
    cursor: pointer;
}